[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
pymysql = "*"
mysqldbmodel = "*"
cryptography = "*"

[dev-packages]
autopep8 = "*"
pytest-mock = "*"
pytest = "*"

[requires]
python_version = "3"
